<ion-header>

  <ion-navbar>
    <ion-title>materials</ion-title>
  </ion-navbar>

</ion-header>

<ion-content  padding>
  <ion-list>
<!--
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
-->
 <ion-item *ngFor="let item of items">
    <ion-col width-25>
        <ion-input [(ngModel)]="item.length" type="title"></ion-input>
    </ion-col>


<!--
<ion-row>
    <ion-col width-25>
        <ion-label floating>Length</ion-label>
    </ion-col>
    <ion-col width-25>
        <ion-input [(ngModel)]="item.length" type="title"></ion-input>
    </ion-col>
</ion-row>

<ion-grid>
    <ion-col width-25>
        <ion-label floating>Length</ion-label>
        <ion-input [(ngModel)]="item.length" type="title"></ion-input>
    </ion-col>
    <ion-col width-25>
        <ion-label floating>Height</ion-label>
        <ion-input [(ngModel)]="item.height" type="title"></ion-input>
    </ion-col>
    <ion-col width-25>
        <ion-label floating>Depth</ion-label>
        <ion-input [(ngModel)]="item.depth" type="title"></ion-input>
    </ion-col>
    <ion-col width-25>
        <ion-label floating>Joint</ion-label>
        <ion-input [(ngModel)]="item.joint" type="title"></ion-input>
    </ion-col>
</ion-row>
</ion-grid>


      <div padding>
        <ion-label floating>Length</ion-label>
        <ion-input [(ngModel)]="item.length" type="title"></ion-input>
      </div>
      <div>
        <ion-label floating>Height</ion-label>
        <ion-input [(ngModel)]="item.height" type="title"></ion-input>
      </div>

-->


<!--
      <ion-icon [name]="item.icon" item-start></ion-icon>
-->
<!--
      <div class="item-note">
        <h1>
          <b>{{item.title}}</b>
        </h1>
      </div>
      <div class="item-note">
        <ion-label floating>Length</ion-label>
        <ion-input [(ngModel)]="item.length" type="title"></ion-input>
        <ion-label floating>Height</ion-label>
        <ion-input [(ngModel)]="item.height" type="title"></ion-input>
        <ion-label floating>Depth</ion-label>
        <ion-input [(ngModel)]="item.depth" type="title"></ion-input>
        <ion-label floating>Joint</ion-label>
        <ion-input [(ngModel)]="item.joint" type="title"></ion-input>
      </div>
      <div class="item-note">
        <ion-label floating>Note</ion-label>
        <ion-input [(ngModel)]="item.note" type="title"></ion-input>
      </div>
-->

<!--
    </button>
-->
 </ion-item>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from
    <b>{{selectedItem.title}}</b>
  </div>
</ion-content>